*{
    margin: 0;
    padding: 0;
}
#headerUm h1{
    display: flex;
    justify-content: center;
    margin: 15px;
    color: #101043;
}

.botao-link-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card_baleia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

h2 {
    display: flex;
    justify-content: center;
}

#card_baleia2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;

}
#rodape{
    display: flex;
    align-items: center;
    justify-content: center;
}

#login p{
    padding: 1rem;
}

#login h3{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

#texto_jubarte{
    text-align: justify;
    font-size: 1.2rem;
}

#texto_franca{
    text-align: justify;
    font-size: 1.2rem;
}