/*define que as imagens tem que ter o tamanho máximo da div mãe*/
.img-responsive{
    width: 100%;
}

/*HEADER*/
.header1{
    min-height: 80vh;
    width: 100%;
    /*geralmente corrige distorção*/
    background-size: cover;
    background-image: url(./img/orchids2022-montage-banner.jpg);
    background-position: top;
    display: flex;
    /*Aligne é para eixo y*/
    align-items: flex-end;
    /*justify content é para o eixo X*/
    justify-content: center;
}
.header_titulo{
    padding-top: 28rem;
    font-size: 3rem;
    font-weight: 600;
    color: black;
    /*text-shadow: 4px 3px 9px #000;*/
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
}
main{
    padding: 0 15%;
    color:black
}

/*secao familia*/
h1{
    font-size: 36px;
    text-align: center;
    margin: 36px auto;
}

/*uma familia muito unida*/

.familia{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.familia-rica img{
    width: 7rem;
    border-radius: 10px;
}

.familia p{
    width: 80%;
    text-align: justify;
}

/*Cattleya Labiata*/

.cattleya-Labiata{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-size: 50px;
    text-align: center;
    margin: 50px auto;
}
.cattleya-Labiata img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50rem;
    
 }
.cattleya-Labiata p{
    width: 80%;
    text-align: justify;
    float: left; 
    margin-left: 7rem;
}

/*footer*/

/* .rodape{
    background-color: #323534;
    color: white 
}
.rodape_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}
.rodape_principal>*{
    margin: 16px;
}
.rodape_navegacao>li{
    font-size: 14px;
    margin: 8px;
    text-align: center;
}
.rodape_navegacao a{
    transition: all 0.5s;
} */
   
 