*{
  margin: 0px;
  padding: 0px;

}

body{
  background-color: rgb(239, 235, 235);
}

.main_container{

  height: 100vh;
}



.div_container{
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  align-items: center;
}

input{
  margin: 10px 0px;
  padding: 5px 20px;
}

h1,h2{
  
  padding: 1rem 0;
}

