html {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
article{
  margin-left: auto;
  margin-right: auto;
  width: 65rem;
  
}
h1{
  font-size: 2.5rem;
  color: #15133C;
  text-align: center;
}
a{
  text-decoration: none;
  color: #242F9B;
  font-size: 1.5rem;
  font-weight: bold;
  
}

p{
  color: #15133C;
  font-size: 2rem;
}

img{
  
  width: 60rem;
  height: 35rem;
  
}