* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

blockquote {
    color: #49586e;
    font-size: 1.5rem;
    font-weight: bold;
}

foote{
    z-index: 1;

}

.fundo{
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 900px;
}

/* -------------------------------------------------------------------------------- */



/* NAVBAR */

.navbar {
    padding: 0.4375rem;
    position: fixed;
    width: 100%;
}

.navbar__nav {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 20px;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
}


/* -------------------------------------------------------------------------------- */



/* HEADER */

.header {
    display: flex;
    justify-content: flex-end;
}

.header-logo {
    padding-top: 200px;
    margin-right: 300px;
    width: 217px;
    height: 127px;
    z-index: 1;
}

/* CONTAINER PRINCIPAL */

.container-principal {
    display: flex;
    z-index: 1;

}

.superman {
    margin-top: -220px;
    height: 712px;
    animation: flutuacao 6s ease-in-out infinite;
}


@keyframes flutuacao {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-60px);
    }
}

.citacao {
    margin-top: 30px;
    width: 400px;
    height: 197px;
    font-size: 16px;
    border-left: 4px solid #478ac9;
    padding-left: 9px;
    margin-left: 216px;
    z-index: 1;
}


.segundo-section {
    display: flex;
    padding-left: 10px;
}

.artigo {
    width: 700px;
    padding-left: 720px;
    margin-top: -153px;
    z-index: 1;
    
}


.artigo h2 {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #0C1621;
    text-transform: uppercase;
}

.artigo p {
    font-family: 'Open Sans', sans-serif;
    color: #0C1621;
    font-weight: bold;
}

/* RODAPE */

footer{
    background-color: rgb(46, 46, 46);
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 40px;
}